/* Banner.css */
.banner {
  background: linear-gradient(135deg, #00b4d8, #0077b6);
  color: white;
  text-align: center;
  padding: 6rem 2rem;
  border-radius: 12px;
  margin-bottom: 3rem;
  animation: fadeInBanner 1.5s ease-out;
}

.banner-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 0 1rem;
  animation: fadeInText 1s ease-in-out 0.2s forwards;
}

.banner-content p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  animation: fadeInText 1s ease-in-out 0.4s forwards;
}

.banner-button {
  background-color: white;
  color: #0077b6;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.banner-button:hover {
  background-color: #005f87;
  transform: scale(1.1);
}

/* Animações */
@keyframes fadeInBanner {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  