.navbar {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
    background-color: #0077b6;
    color: white;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    transition: 0.9s;
    color: aqua;
    
  }
  